<section class="content">
    <div class="row">
        <div class="col-sm-12 mt-2">
            <h4 class="text-center">Bienvenido <span class="text-info">{{nombres}}</span></h4>
        </div>
    </div>
</section>