<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LOGIN | Inmigracion inteligente</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/btnClose.css">
  <link rel="icon" href="/dist/img/DurocLogo.png">


</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0" >
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/images/login.png" alt="login" class="login-card-img" >
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <p class="login-card-description">Iniciar sesion</p>
              <form action="/sign-in" method="POST">
                {{>errors}}
                {{>success}}
                  <div class="form-group">
                    <label for="email" class="sr-only">Correo electronico</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Correo electronico">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                  </div>
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Iniciar">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="/js/bootstrap.js"></script>
</body>
</html>
